body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-weight: bold !important;
    text-align: center !important;
}

.card-box{
    width: 100%;
}

.heading-row{
    margin: 30px 0px;
}

.heading-row tr td.col1{
    width: 60%;
}

.heading-row tr td.col2{
    width: 40%;
}

.heading-row tr td.col2{
    font-size: 12px !important;
}

.heading-row tr td.col2{
    text-align: right;
    padding: 0px !important;
    margin: 0px !important;
}


.row{
   margin: 30px 0px;
}

.row .col{
    width: 60%;
 }

 .row .col2{
    width: 40%;
    text-align: right;
    padding: 0px !important;
    margin: 0px !important;
 }



.table {
    border-collapse: collapse !important;
    border: 1px solid black !important;
    width: 100% !important;
    table-layout: fixed !important;
}

.table thead tr {
    background-color: rgb(179, 236, 253);
}

.table th {
    border: 1px solid black !important;
}

.table td {
    border: 1px solid black !important;
    text-align: center !important;
    padding: 5px !important;
}

.column{
    width: 500px;
}
